// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media {
	margin: 0 50px;
}

#comment_content {
	width: 100%;
}

#comments {
	margin: 3px 5px;
	height: 40px;
	font-size: 0.8em;
}

#comment-remark {
	text-align: right;
	font-size: 0.8em;
}

.comment-attention {
	margin: 5px 10px;
	padding: 5px;
	height: 48px;
	background-color: lighten($color: #fbffc5, $amount: 0);
	font-weight: bold;
	font-size: 0.8em;
	word-wrap: break-word;
	line-height: center;
}

.comment-attention p {
	line-height: center;
	margin: 0 5px;
}

#comment-name-a {
	color: blue($color: #2e5bd4);
}
